# --- Dossiers spécifiques à ignorer ---
Z_others/
temp/
vision_donnees/

# --- MODÈLE KYC (INCLUS POUR LE RECRUTEUR) ---
# J'ai retiré Model_with_nms_kyc/ d'ici pour qu'il soit uploadé
Model_Final_KYC/
Model_Optimized_KYC/

# --- Environnement virtuel et Python ---
.venv/
__pycache__/
*.pyc
.idea/
.vscode/

# --- Données et Logs ---
*.parquet
*.json
*.log
.DS_Store