# --- Environnement Virtuel ---
.venv/
venv/
ENV/

# --- Python / Système ---
__pycache__/
*.py[cod]
*$py.class
.DS_Store
Thumbs.db

# --- Dossiers Spécifiques au Projet ---
A_others/
data/
temp/

# --- Modèles IA ---
# On ignore les dossiers de modèles locaux car ils sont sur Hugging Face
Model_with_nms_kyc/
*.bin
*.safetensors

# --- Docker ---
.docker/